# check if python version is set in current dir
if [ -f ".python-version" ] ; then
    if [ ! -d ".venv" ] ; then
        echo "...installing venv for $(python -V)"
        python -m venv .venv
    fi

    echo "...activating venv for $(python -V)"
    source .venv/bin/activate
fi

